* {
    box-sizing: border-box;
}

body {
    background-color: #b3ff40; ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}